* {
  transition: all 1s;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

.fixedd {
  width: 80px;
  height: 100vh;
  background-color: #282828;
  position: fixed;
  top: 70px;
}

.navLogo {
  width: 115px;
}
.navbar {
  background-color: #282828;
  padding: 0px !important;
  z-index: 99999999999999 !important;
  text-align: center;
}

.navbar-nav a {
  padding: 28px;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;

  /* font-family: Arial; */
  font-style: normal;
  font-weight: 600;
  color: white;
  text-align: center;
}

.navbar-brand {
  margin-left: 300px;
}
@media (max-width: 600px) {
  .navbar-brand {
    margin-left: 10px;
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .navbar-brand {
    margin-left: 10px;
  }
}

.navbar-toggler {
  margin: 10px;
}

/* .navbar-nav .active {
  background-color: #ed1c24;
} */
